body {
  font-family: verdana;
  text-align:center;
  padding-top: 60px;
  padding-bottom: 40px;
}

h1 {
  color: white;

}
#grad1 {
  background-image: linear-gradient(180deg, rgba(204, 255, 255,0.1), rgba(0, 153, 204,0.3));
}
div {
  background-color: rgb(0, 153, 204);
  width: 600px;
  padding: 20px;
  margin: auto;
  text-align: justify;
}
img {
  border: 10px solid  rgb(0, 153, 204);
}
.right{
float:right;
width:300px;
}
#title1{

  text-align:current;
}
.fixed-header {
        width: 100%;
        position: fixed;
        background: #333;
        padding: 10px 0;
        color: #fff;
        text-align: left;
    }
    .main {
  padding: 16px;
  margin-top: 35px;
  height: 1600px;
}
    .container{
        width: 80%;
        margin: 0 auto;
    }
  .fixed-header{
        top: 0;
    }
